{% extends 'base.html' %}
{% load i18n %}

{% block title %}
- {% trans 'signup' %}
{% endblock %}

{% block content %}

<h1>{% trans 'signup' %}</h1>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {% trans 'username' %}:<br>
    <input type="text" name="username"/>
    <br>
    {% trans 'password' %}:<br>
    <input type="password" name="password1"/>
    <br>
    {% trans 'confirm_password' %}:<br>
    <input type="password" name="password2"/>
    <br><br>
    <input class="btn btn-primary" type="submit" value="{% trans 'signup' %}">
</form>

{% endblock %}