{% extends 'base.html' %}
{% load i18n %}

{% block title %}
- {% trans 'create_project' %}
{% endblock %}

{% block content %}


<h1>{% trans 'create_project' %}</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% trans 'title' %} (en):<br>
    <input type="text" name="title"/>
    <br>
    {% trans 'title' %} (ru):<br>
    <input type="text" name="title-ru"/>
    <br><br>
    {% trans 'description' %} (en):<br>
    <textarea name="body" rows="5"></textarea>
    <br>
    {% trans 'description' %} (ru):<br>
    <textarea name="body-ru" rows="5"></textarea>
    <br><br>
    {% trans 'url' %}:<br>
    <input type="text" name="url"/>
    <br>
    {% trans 'icon' %}:<br>
    <input type="file" name="icon"/>
    <br>
    {% trans 'image' %}:<br>
    <input type="file" name="image"/>
    <br><br>
    <input class="btn btn-primary" type="submit" value="{% trans 'add_project' %}">
</form>


{% endblock %}