{% extends 'base.html' %}
{% block content %}

<br>
<div class="row">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid"/>
    </div>
    <div class="col-10">
        <a href="{{ product.url }}" target="_blank"><h1>{{ product.title }}</h1></a>
    </div>
</div>

<br>
<div class="row">
    <div class="col-8">
        <img src="{{ product.image.url }}" class="img-fluid"/>
    </div>
    <div class="col-4">
        {% if user.is_authenticated %}
        <a href="javascript:{document.getElementById('upvote').submit()}">
            <button class="btn btn-primary btn-lg btn-block"><span class="fas fa-caret-up"></span>&nbsp;&nbsp;Upvote {{ product.votes_total }}</button>
        </a>
        {% endif %}
    </div>
</div>

<br>
<div class="row">
    <div class="col-8">
        {{ product.body }}
    </div>
</div>

<br>
<div class="row">
    <div class="col-4">
        <strong>Hunted by {{ product.hunter.username }}</strong>
    </div>
    <div class="col-4 text-right">
        <span class="far fa-clock"></span>&nbsp;&nbsp;<strong>{{ product.pub_date_pretty }}</strong>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}